.table-wrapper {
  height: fit-content;
  max-height: 420px;

  overflow: hidden;
  margin-top: 22px;
  overflow-y: scroll;
  margin: 15px;
}

table {
  border-collapse: separate;
  border-spacing: 0px;
}
tbody {
  background: linear-gradient(90deg, #8d1515, #631985);
}
table th {
  position: sticky;
  top: 0px;

  background-color: #133b5c;
  color: rgb(241, 245, 179);

  text-align: center;
  font-weight: normal;
  font-size: 18px;
}

table th {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table td {
  text-align: left;

  font-size: 15px;
}

.table-price-fitlers__container {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.table-price-input {
  width: 25%;
}

.table-body__container {
  overflow: scroll;
  overflow-x: hidden;
  background: linear-gradient(45deg, #323086, #291985);
}

.table-body-item__container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 800;
  height: 50px;
  color: white;
  border: none;
  padding: 12px 12px;
  text-align: center;
}

.filter-input {
  width: 100%;
}

@media (max-width: 1050px) {
  .table-body-item__container {
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .table-body-item__container {
    font-size: 10px;
  }
  .table-price-fitlers__container {
    flex-direction: column;
  }
  .table-price-input {
    width: 100%;
  }
}
